<div class="details">
  <h2> <%= @task.name %></h2>
  <p><%= @task.description %></p>
  <p><em>Do by: </em><%= @task.completion_date %>  </p>
  <%= link_to "Edit", edit_task_path(@task), class: "create" %>

</div>
