/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-image: url("waterm.jpg");
    background-image: contain;
}
aside {
   margin-left: 5px;
   // width: 100px;
   position: fixed;
   top: 15%;
 }
 aside ul {
   list-style-type: none;
 }
 aside a {
   text-decoration: none;
 }
 aside li {
   background-color: rgb(169, 236, 226);
   width: 90px;
   text-align: center;
   border-style: solid;
   border-width: thin;
   border-radius: 20%;
   padding: 20px;
   margin-bottom: 5px;
 }
 body {
   font-family: courier;
 }
 footer {
   position: absolute;
   bottom: 0;
   width: 644px;
   height: 20px;
   margin: 0 auto;
 }
 h2, h1 {
   color: rgb(176, 65, 135);
   text-shadow: 2px 2px rgb(218, 132, 212);
 }
img {
  height: 40px;
}
.details {
  text-align: center;
}
