form {
  text-align: center;
  margin-top: 100px;
  font-size: 2em;
}
label {
  display: block;
  color:  rgb(140, 53, 134);
}
input {
  margin-bottom: 20px;
}
#description {
  height: 100px;
  width: 300px;
  margin-bottom: 0;
}
